<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315709600890-4a9b10r0uj8odf0hle4e5h9n8pst4fpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315709600890-4a9b10r0uj8odf0hle4e5h9n8pst4fpk</string>
	<key>API_KEY</key>
	<string>AIzaSyBiBKOgp-iNWXgrdMJrGzQf6OuE5pjvQLk</string>
	<key>GCM_SENDER_ID</key>
	<string>315709600890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FooDiary-iosApp</string>
	<key>PROJECT_ID</key>
	<string>foodiary-iosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>foodiary-iosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315709600890:ios:6712702d30069e7ab277c3</string>
</dict>
</plist>